---
title: false
styles: true
---

$backgroundColour: #ffffff !default;
$codeBackgroundColour: #fafafa !default;
$featureBackgroundColour: #f9fafa !default;
$accentColour: #2196f3 !default;

// Text colours
$headingColour: #455a64 !default;
$bodyColour: #455a64 !default;
$linkColour: #2196f3 !default;
$hoverColour: #1976d2 !default;
$focusColour: #ff5722 !default;
$captionColour: #607d8b !default;
$white: #ffffff !default;

.typeset blockquote p {
  font-style: normal !important;
}

// Typography
$bodytype: (
  font-family: 'Roboto, serif',
  regular: 400,
  bold: 700,
  italic: italic,
  cap-height: 0.75
) !default;

$headingtype: (
  font-family: '"Roboto", serif',
  regular: 400,
  bold: 700,
  cap-height: 0.75
) !default;

$monospacetype: (
  font-family: 'Menlo, monospace',
  regular: 400,
  cap-height: 0.68
) !default;

@import 'alembic';
